{% extends 'base.html.twig' %}
{% block body %}
    <div class="bs-example" data-example-id="striped-table"> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ressource</th> 
                    <th>Zählerstand</th>
                    <th>Durschnitt/Tag</th> 
                    <th>Optionen</th> 
                </tr> 
            </thead> 
            <tbody>
                <tr> <th scope="row">1</th>
                    <td>Elektroenergie</td>
                    <td>xx</td>
                    <td><a href="/consumptionmonitor/addEpower" class="btn btn-success">Hinzuf&uuml;gen</a> <a href="/consumptionmonitor/listEpower" class="btn btn-success">Auflisten</a></td> 
                </tr>
                <tr> <th scope="row">1</th>
                    <td>Gas</td>
                    <td>xx</td>
                    <td><a href="/consumptionmonitor/addGas" class="btn btn-warning">Hinzuf&uuml;gen</a> <a href="/consumptionmonitor/listGas" class="btn btn-success">Auflisten</a></td> 
                </tr>

                               <tr> <th scope="row">1</th>
                    <td>Wasser</td>
                    <td>xx</td>
                    <td><a href="/consumptionmonitor/addWater" class="btn btn-primary">Hinzuf&uuml;gen</a> <a href="/consumptionmonitor/listWater" class="btn btn-success">Auflisten</a></td> 
                </tr>

            </tbody> 
        </table> </div>
    {% endblock %}

